.header-container {
  // padding-left: 10%;
  // padding-right: 10%;
  width: 80vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #253965;
  color: #fff;
  .panel {
    a {
      transition: 1s ease;
      display: inline-block; 
      height: 95px; 
      line-height: 95px;
      :first-child {
        pointer-events: none;
      }
      &.active {
          background: #fff;
          color: #1d1d1d;
          font-size: 25px;
          padding-left: +20px;
          padding-right: +20px;
          border-bottom: 5px solid #253965;
        }
        &:hover {
          @extend .active;
        }
    }
    cursor: pointer;
    list-style-type: none;
  }
}
