.header-container {
    // padding-left: 10%;
    // padding-right: 10%;
    width: 80vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #253965;
    color: #fff;
    .panel {
        :first-child{
            pointer-events: none;
        }
        cursor: pointer;
        list-style-type: none;
    }
}
