.app-button {
    border: none;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    display: flex;
    cursor: pointer;
    max-width: 100%;
    transition: all 0.3s ease;
    &.small {
      height: 36px;
      width: 100px;
      &.confirm {
        background: rgb(47, 216, 47);
      }
      &:hover {
        background: rgb(7, 206, 7);
      }
      &:disabled {
        pointer-events: none;
        background: grey;
      }
    }
    &.medium {
      height: 70px;
      width: 140px;
      font-weight: 700;
      &.export {
        background: #253965;
      }
      &:hover {
        background:#2e5099;
      }
    }
    &.large {
      height: 100px;
      width: 200px;
    }
}
