table {
  width: 80%;
  color: #000;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  border-collapse: collapse;
  box-sizing: border-box;
  align-items: flex-start;

  th {
    position: relative;
    text-align: left;
    margin-bottom: 5px;
    font-size: 18px;
  }

  th,
  tr {
    border-bottom: 1px solid #acadad;
    width: 100vw;
    font-size: 15px;
  }

  thead {
    th,
    tr {
      font-size: 18px;
    }
  }

  tbody {
    td {
      height: 50px;
    }
  }
}
