<div class="form-container">
  <!-- <app-button
    [btnClass]="'small'"
    [title]="'Додај +'"
    (btnClickEvent)="addFormItem()"
  ></app-button> -->
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div formArrayName="formItems" class="formItems">
      <div
        *ngFor="let item of formItems.controls; let i = index"
        [formGroupName]="i"
        class="form-item"
      >
        <div class="form-group">
          <label for="date{{ i }}">Датум:</label>
          <input
            id="date{{ i }}"
            formControlName="date"
            type="date"
            class="form-control"
          />
        </div>
        <!-- <div class="form-group">
          <label for="task{{ i }}">Задатак:</label>
          <input
          id="task{{ i }}"
          formControlName="task"
          type="text"
          class="form-control"
          />
        </div> -->
        <div class="form-group">
          <label for="taskDescription{{ i }}">Опис:</label>
          <input
          id="taskDescription{{ i }}"
          formControlName="taskDescription"
          type="text"
          class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="task{{ i }}">Пројекат:</label>
          <select name="task{{ i }}" id="task{{ i }}" formControlName="projectId" name="selectedProjectId">
            <option *ngFor="let project of projects" [value]="+project.id!"> 
              {{ project.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="hours{{ i }}">Broj sati:</label>
          <input
            id="hours{{ i }}"
            formControlName="hours"
            type="number"
            class="form-control-int"
            min="0"
            max="10"
            step="0.1"
          />
        </div>
        <!-- <app-button
          [btnClass]="'small'"
          [title]="'Obrisi -'"
          (btnClickEvent)="deleteFormItem(i)"
          type="'submit'"
        ></app-button> -->
        <app-button
          type="submit"
          [btnClass]="'small confirm'"
          [title]="'Потврди'"
          [disabled]="!this.formItems.valid"
        >
        </app-button>
      </div>
    </div>
  </form>
  <div>
    <app-graph *ngIf="totalProjectData && totalProjectData.length > 0"  [projects]="totalProjectData"></app-graph>
  </div>
  <app-table *ngIf="employeeData.length > 0" [headers]="headers" [data]="employeeData" style="margin-top: 50px;"></app-table>
</div>
