* {
    border: none;
    margin: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d1d1d;
    height: 100vh;
}